AddCharset UTF-8 html js css
AddType image/x-icon .ico
AddType application/font-woff2 .woff2
<IfModule mod_deflate.c>
    AddOutputFilter DEFLATE js css svg gz woff2 ico
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\.(js|css|html|xml|gz|woff2)$">
        Header append Vary: Accept-Encoding
    </FilesMatch>
</IfModule>
<IfModule mod_headers.c>
    Header set Cache-Control "max-age=604800, public"
</IfModule>
<IfModule mod_expires.c>
      ExpiresActive on
      ExpiresDefault "access plus 1 week"
</IfModule>
