.markdown {
    position: relative;
    padding-top: 32px;
    padding-bottom: 64px;
    
    > *:first-child {
        margin-top: 0;
    }
}

.highlight {
    margin: 16px 0 0 0;
    box-shadow: $cardShadow;
    padding: 1px 16px;
    background: rgba(0, 0, 0, 0.1);
    overflow: auto;
}

@media screen and (max-width: #{$sidebarWidth + 360}) {
    .markdown {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}
