code, pre {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px;
}

.markdown {
    > *:first-child {
        margin-top: 0;
    }
}

.highlight {
    margin: 16px 0 0 0;
    box-shadow: $cardShadow;
    padding: 16px;
    overflow: auto;
    
    .highlight {
        margin: 0;
        padding: 0;
        box-shadow: none;
        overflow: initial;
    }
}
