input[type=checkbox] {
    margin-top: 6px;
    width: 16px;
    height: 16px;
    font: inherit;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid #9E9E9E;
    box-shadow: inset 0 0 0 0 #009688;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1),
    border-color 0s linear 0.17s;

    &:focus {
        outline: none;
    }

    &:before, &:after {
        content: '';
        background: #fff;
        height: 16px;
        width: 16px;
        position: absolute;
        transform: translate(25%, 50%) rotate(45deg) scale(0.3, 0.1);
        transform-origin: 0 0;
        transition: transform 0.3s cubic-bezier(0.2, 0.3, 0, 1),
        opacity 0.3s cubic-bezier(0.2, 0.3, 0, 1);
        top: -2px;
        left: -2px;
    }

    &:after {
        transform: translate(85%, 35%) rotate(135deg) scale(0.6, 0.1);
    }

    &:not(:checked):before {
        transform: translate(50%, 50%) rotate(45deg) scale(0.1, 0.1);
    }

    &:not(:checked):after {
        transform: translate(50%,50%) rotate(135deg) scale(0.1, 0.1);
    }

    &:checked {
        border-color: #9E9E9E;
        box-shadow: inset 0 0 0 8px #9E9E9E;
        transition: transform 0.3s cubic-bezier(0.2, 0.3,0,1),
        box-shadow 0.3s cubic-bezier(0.2, 0.3, 0, 1),
        border-color 0s;
    }
}
