header {
    color: $headerFontColour;
    
    .header-title h1 {
        margin: 0;
        line-height: $touchSize * 2;
        font-size: 28px;
        transition: line-height 0.3s, font-size 0.3s;
        will-change: line-height, font-size;
    }
}
