header {
    color: $headerFontColour;
    
    .header-title h1 {
        margin: 0;
        line-height: $touchSize * 2;
        font-size: 28px;
        transition: line-height 0.3s, font-size 0.3s;
        will-change: line-height, font-size;
    }
}


@media screen and (max-height: $breakHeight) {
    header {
        max-height: $touchSize / 2 * 3;
        
        .header-title h1 {
            line-height: $touchSize / 2 * 3;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: $breakWidth) {
    header {
        max-height: $touchSize / 2 * 3;
        
        .header-title h1 {
            line-height: $touchSize / 2 * 3;
            font-size: 20px;
        }
    }
}
