header {
    position: relative;
    height: $touchSize * 2;
    max-height: $touchSize * 2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    background: $headerBackground;
    color: $headerFontColour;
    z-index: 9002;
    transition: max-height 0.3s $bezier;
    overflow: hidden;
    
    .header-title h1 {
        margin: 0;
        line-height: $touchSize * 2;
        font-size: 28px;
        transition: line-height 0.3s, font-size 0.3s;
        will-change: line-height, font-size;
    }
}


@media screen and (max-height: $breakHeight) {
    header {
        max-height: $touchSize / 2 * 3;
        
        .header-title h1 {
            line-height: $touchSize / 2 * 3;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: $breakWidth) {
    header {
        max-height: $touchSize / 2 * 3;
        
        .header-title h1 {
            line-height: $touchSize / 2 * 3;
            font-size: 20px;
        }
    }
}
