.sidebar {    
    &.side-bar-closed {
        width: $touchSize;
        + .wrapper {
            width: calc(100% - #{$touchSize});
        }
        
        .sidebar-title {
            padding: 0 16px;
            max-height: 0;
            opacity: 0;
        }
        
        ul li a {
            padding-left: 0;
        }
        
        .sidebar-toggle:before {
            transform: translate3d(-50%, -50%, 0);
        }
    }
    
    .sidebar-toggle {
        position: absolute;
        top: 0;
        right: 0;
        text-indent: 9999px;
        width: $touchSize;
        height: $touchSize;
        cursor: pointer;
        overflow: hidden;
        transition: background 0.3s;
        
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(50% + 5px);
            border: 8px solid transparent;
            border-left: 12px solid $sidebarFontColour;
            transform-origin: 25% 50% 0;
            transform: translate3d(-50%, -50%, 0) rotate(180deg);
            transition: transform 0.3s $bezier;
        }
        
        &:hover,
        &:focus {
            background: $sidebarActionColour;
        }
    }
    
    ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        
        ul {
            a {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                padding-left: 16px;
            }
            
            ul a {
                padding-left: 32px;
            }
        }
    }
    
    .sidebar-menu {
        position: absolute;
    }
    
    li {
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid $sidebarActionColour;
            box-shadow: 0 1px 1px $sidebarActionColour;
            visibility: hidden;
        }
        
        &.active {
            background: $sidebarActionColour;
            
            &:after {
                visibility: visible;
            }
            
            > a {
                background: $sidebarActionColour;
                opacity: 1;
                max-height: $touchSize;
            }
            
            > ul > li > a {
                opacity: 1;
                max-height: $touchSize;
            }
        }
    }
    
    a {
        display: block;
        color: $sidebarFontColour;
        width: $sidebarWidth;
        height: $touchSize;
        line-height: $touchSize;
        padding: 0 16px 0 0;
        text-decoration: none;
        will-change: padding;
        
        &.active,
        &:hover,
        &:focus {
            background: $sidebarActionColour;
        }
        
        &:focus {
            opacity: 1;
            outline-color: $mainThemeColour;
            max-height: $touchSize;
        }
    }
    
    i {
        position: relative;
        float: left;
        width: $touchSize;
        line-height: $touchSize;
        text-align: center;
        pointer-events: none; /* Fix needed for pjax */
    }
    
    .has-children > a:focus {
        outline: none;
    }
    
    .has-children > ul:after {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 0;
        width: $touchSize;
        height: $touchSize;
        background: $sidebarActionColour;
        z-index: -1;
    }
    
    .has-children > ul:before {
        content: '';
        position: absolute;
        bottom: calc(100% + 7px);
        right: 14px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-top: 12px solid $sidebarFontColour;
        transform-origin: 50% 25% 0;
        transition: transform 0.3s;
        display: none;
        z-index: -1;
    }
    
    .sidebar-menu > .has-children > ul:before {
        display: block;
    }
    
    .active > ul > .has-children > ul:before {
        display: block;
    }
    
    .has-children.active > ul:before {
        transform: rotate(180deg);
    }
}
