table {
    margin-top: 16px;
    width: 100%;
    box-shadow: $cardShadow;
    background: #fff;
    border-collapse: collapse;
    
    tr {
        border-bottom: 1px solid #eee;
    }
    
    tbody tr {
        transition: background 0.3s;
        will-change: background;
        
        &:nth-child(odd) {
            background: rgba(0, 0, 0, 0.04);
        }
        
        &:hover {
            background: rgba(0, 0, 0, 0.03);
        }
        
        &:last-child {
            border: none;
        }
    }
    
    th,
    td {
        text-align: left;
        padding: 12px 16px;
        box-sizing: border-box;
        transition: background 0.3s;
        will-change: background;
        border: 1px solid #eee;
    }
}

@media screen and (max-width: $breakWidth) {
    table {
        box-shadow: none;
        background: none;
        width: 100%;
        
        thead {
            display: none;
        }
        
        tbody tr {
            display: block;
            margin: 16px 0;
            box-shadow: $cardShadow;
            background: #fff;
            border: none;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover,
            &:nth-child(odd) {
                background: #fff;
            }

            th,
            td {
                display: block;
                width: 100%;
                text-align: right;
                border: none;
                border-bottom: 1px solid #eee;

                &:before {
                    content: attr(data-title);
                    float: left;
                }

                &:hover {
                    background: rgba(0, 0, 0, 0.03);
                }

                &:first-child {
                    border-top: 1px solid #eee;
                }
            }
        }
    }
}
