$bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
$touchSize: 42px;
$cardShadow: 0 2px 3px rgba(0, 0, 0, 0.3);

$mainBackground: #FFFFFF;
$mainFontColour: #333333;
$mainThemeColour: #0088CC;
$mainThemeFontColour: #EEEEEE;

$headerBackground: #0088CC;
$headerFontColour: #FFFFFF;

$sidebarWidth: 225px;
$sidebarBackground: #37474F;
$sidebarFontColour: #EEEEEE;
$sidebarActionColour: rgba(255, 255, 255, 0.05);

$breakWidth: 700px;
$breakHeight: 500px;
