<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet subresource">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet subresource">
        <link rel='stylesheet prefetch' href='http://cdn.zekken.rocks/css/waves.css'>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="sidebar">
            <a class="sidebar-toggle waves-effect" href="#">Sidebar Toggle</a>
            <ul class="sidebar-menu custom-scrollbar">
                <li>
                    <a href="/">
                        <i class="material-icons">dashboard</i>
                        Home
                    </a>
                </li>
                {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">
                            <i class="material-icons">{{ post.icon }}</i>
                            {{ post.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="wrapper">
            <header>
                <div class="container">
                    <div class="header-content content-wrapper">
                    <div class="header-title">
                        <h1>{{ page.title }}</h1>
                    </div>
                    </div>
                </div>
            </header>
            <div class="body custom-scrollbar">
                <div class="container">
                    <div class="markdown content-wrapper">{{ content }}</div>
                </div>
            </div>
        </div>
        
        <script src='http://cdn.zekken.rocks/js/addons/waves.js'></script>
        {% for js in page.jsarr %}
            <script type="text/javascript">{% include {{ js }} %}</script>
        {% endfor %}
    </body>
</html>
