---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet subresource">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet subresource">
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <div class="sidebar">
            <a class="sidebar-toggle waves-effect" href="#">Sidebar Toggle</a>
            <ul class="sidebar-menu custom-scrollbar">
                <li>
                    <a href="/" class="pjax-link waves-effect{% if '/' == page.url %} active{% endif %}">
                        <i class="material-icons">dashboard</i>
                        Home
                    </a>
                </li>
                {% for post in site.posts %}
                    {% unless post.category %}
                        <li>
                            <a href="{{ post.url }}" class="pjax-link waves-effect{% if post.url == page.url %} active{% endif %}">
                                <i class="material-icons">{{ post.icon }}</i>
                                {{ post.title }}
                            </a>
                        </li>
                    {% endunless %}
                {% endfor %}
                {% for category in site.categories %}
                    <li {% if page.categories contains category[0] %}class="active"{% endif %}>
                        <a href="#" class="waves-effect">
                            <i class="material-icons">label</i>
                            {{ category | first | replace: '-', ' ' }}
                        </a>
                        <ul>
                            {% for posts in category %}
                                {% for post in posts %}
                                    {% if post.category %}
                                        <li>
                                            <a href="{{ post.url }}" class="pjax-link waves-effect{% if post.url == page.url %} active{% endif %}">
                                                <i class="material-icons">{{ post.icon }}</i>
                                                {{ post.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="wrapper">
            <header>
                <div class="container">
                    <div class="header-content content-wrapper">
                    <div class="header-title">
                        <h1>{{ page.title }}</h1>
                    </div>
                    </div>
                </div>
            </header>
            <div class="body custom-scrollbar">
                {% if page.customcss.size > 0 %}
                    {% for customcss in page.customcss %}
                        <link rel="stylesheet subresource" type="text/css" href="{{ customcss }}">
                    {% endfor %}
                {% endif %}
                <div class="container">
                    <div class="markdown content-wrapper">{{ content }}</div>
                </div>
                {% if page.customjs.size > 0 %}
                    <script type="text/javascript">
                        {% for customjs in page.customjs %}
                            {% include {{ customjs }} %}
                        {% endfor %}
                    </script>
                {% endif %}
            </div>
        </div>

        {% if page.jsarr.size > 0 %}
            <script type="text/javascript">
                {% for js in page.jsarr %}
                    {% include {{ js }} %}
                {% endfor %}
            </script>
        {% endif %}
    </body>
</html>
